---
import Habilidades from "../components/Habilidad.astro";
import {Image} from 'astro:assets';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Prueba 1</title>
    </head>
    <body>
        <Habilidades 
        descripcion = "Esto es Susurro" 
        img1 = "Jhin_P.png"
        img2 = "JhinQ.png"
        img3 = "JhinW.png"
        img4 = "JhinE.png"
        img5 = "JhinR.png"
        video1 = "Susurro.mp4"
        video2 = "Q.mp4"
        video3 = "W.mp4"
        video4 = "E.mp4"
        video5 = "R.mp4"
        descripcion1 ="Susurro, el cañón de mano de Jhin, es un instrumento preciso diseñado para infligir un gran daño. Dispara con una cadencia fija y solo puede portar cuatro balas. Jhin baña la última bala con magia oscura para asestar impactos críticos e infligir daño de ejecución adicional. Siempre que Susurro asesta un impacto crítico, Jhin obtiene un aumento de velocidad de movimiento. "
        descripcion2 = "Jhin lanza un cartucho mágico a un enemigo. Podrá impactar a un máximo de cuatro objetivos y cada vez que mata suma daño"
        descripcion3 = "Jhin blande su bastón y dispara un proyectil con un alcance increíble. Atraviesa a los súbditos y los monstruos, pero se detiene en el primer campeón impactado. El objetivo queda inmovilizado si ha sido víctima de los ataques de los aliados de Jhin, de las trampas de loto o del daño de Jhin."
        descripcion4 ="Jhin coloca una trampa de loto invisible que florece al pasar sobre ella. Ralentiza a los enemigos cercanos antes de infligir daño con una explosión de pétalos serrados. Belleza en la muerte: Cuando Jhin mate a un campeón enemigo, florecerá una trampa de loto junto a su cadáver."
        descripcion5 = "Jhin concentra su energía y transforma Susurro en un megacañón de hombro capaz de realizar 4 superdisparos de gran alcance, que atraviesan a los súbditos y a los monstruos pero se detienen en el primer campeón impactado. Susurro incapacita a los enemigos impactados, los ralentiza e inflige daño de ejecución. El cuarto disparo se prepara con sumo cuidado, tiene una potencia épica y garantiza un impacto crítico"
        nomb1="SUSURRO (Pasiva)"
        nomb2="GRANADA DANZANTE (Q)"
        nomb3="FLORECER MORTAL (W)"
        nomb4="PÚBLICO ENTREGGADO (E)"
        nomb5="ABAJO EL TELÓN (R)"

    </body>
</html>